<%@ page import="java.sql.*" %>

<html>
<head>
	<title>CSE220 Final Project</title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=windows-1252">
	<script language="JavaScript" src="javascript/matchnet.js"></script>
	<script language="JavaScript" src="javascript/region3.js"></script>
	<script language="JavaScript" src="im/im.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/css/as.css">
	<link rel="stylesheet" type="text/css" href="lib/css/common.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="style.css"/>

</head>
<body >

<%
   int id = 0;
   String memberName = "";

   /* 1 means lookup by member id, 2 means lookup by name*/
   int lookupType = Integer.parseInt(request.getParameter("type"));
   
   if (lookupType == 1)
      id = Integer.parseInt(request.getParameter("data"));

   if (lookupType == 2)
      memberName = request.getParameter("data");


    String userName = "";
   int dobMonth = 0;
   int dobDay = 0;
   int dobYear = 0;
   int age = 0;
   String lastLogin = "";
   String email = "";
   String gender = "";
   String seekingGender = "";
   String country = "";
   String state = "";
   String city = "";
   String zip = "";
   String picture = "";
   String aboutMe1 = "";

   int height = 0;
   int weight = 0;

   String study = "";
   String relocate = "";
   String headline = "";
   String occupation ="";
   String occupationDescription="";
   String grewUpIn="";
   String zodiacSign="";
   String languages="";
   String relationType="";
   String maritalStatus="";
   String hairColor="";
   String income="";
   String education="";
   String bodyType="";
   String appearanceImportance="";
   String religion="";
   String eyes="";
   String ethnicity="";
   String politics="";
   String intelligenceImportance="";
   String smoking="";
   String activity="";
   String hasChildren="";
   String drinking="";
   String wantsChildren="";
   String aboutMe2="";
   String personalityTrait="";
   String leisure="";
   String aboutMatch="";
   String cuisineTypes="";
   String musicTypes="";
   String readingWhat="";
   String firstDate="";
   String entertainmentLocation="";
   String phyActivity="";
   String idealRelationship="";
   String learnFromThePast="";
   String sql="";



   if (lookupType == 1)
      sql = "SELECT * FROM userstable WHERE UserID=" + id;

   if (lookupType == 2)
      sql = "SELECT * FROM userstable WHERE UserName='" + memberName + "'";
  
   try
   {
      Class.forName("com.mysql.jdbc.Driver").newInstance();
	  Connection con = DriverManager.getConnection("jdbc:mysql://localhost/contacts?user=kareena&password=kapoor");
      Statement s = con.createStatement();      
      ResultSet rs = s.executeQuery(sql);

      while (rs.next())
      {
       userName = rs.getString( "UserName" );
       dobMonth = Integer.parseInt(rs.getString( "DOBmonth" ));
       dobDay = Integer.parseInt(rs.getString( "DOBday" ));
       dobYear = Integer.parseInt(rs.getString( "DOByear" ));
       age = 2003 - dobYear;


       lastLogin = rs.getString("lastLoginDate");
     email = rs.getString( "Email" );
          gender = rs.getString( "Gender" );
          seekingGender = rs.getString( "SeekingGender" );
          country = rs.getString( "Country" );
          state = rs.getString( "State" );
          city = rs.getString( "City" );
          zip = rs.getString( "PostalCode" );
  picture = rs.getString("FileLocation");
          aboutMe1 = rs.getString( "AboutMe1" );

       height = Integer.parseInt( rs.getString( "Height" ) );
       weight = Integer.parseInt(rs.getString( "Weight" ));

         study = rs.getString( "StudiesEmphasis" );
          relocate = rs.getString( "RelocateFlag" );
          headline = rs.getString( "Headline" );
          occupation = rs.getString( "Occupation" );
          occupationDescription = rs.getString( "OccupationDescription" );
          grewUpIn = rs.getString( "GrewUpIn" );
          zodiacSign = rs.getString( "ZodiacSign" );
          languages = rs.getString( "Languages" );
          relationType = rs.getString( "RelationshipType" );
          maritalStatus = rs.getString( "MaritalStatus" );
          hairColor = rs.getString( "HairColor" );
          income = rs.getString( "IncomeLevel" );
          education = rs.getString( "EducationLevel" );
          bodyType = rs.getString( "BodyType" );
          appearanceImportance = rs.getString( "AppearanceImportance" );
          religion = rs.getString( "Religion" );
          eyes = rs.getString( "EyeColor" );
          ethnicity = rs.getString( "Ethnicity" );
          politics = rs.getString( "PoliticalOrientation" );
          intelligenceImportance = rs.getString( "IntelligenceImportance" );
          smoking = rs.getString( "SmokingHabits" );
          activity = rs.getString( "ActivityLevel" );
          hasChildren = rs.getString( "Custody" );
          drinking = rs.getString( "DrinkingHabits" );
          wantsChildren = rs.getString( "MoreChildrenFlag" );
          aboutMe2 = rs.getString( "AboutMe2" );
          personalityTrait = rs.getString( "PersonalityTrait" );
          leisure = rs.getString( "LeisureActivity" );
          aboutMatch = rs.getString( "PerfectMatchEssay" );
          cuisineTypes = rs.getString( "Cuisine" );
          musicTypes = rs.getString( "Music" );
          readingWhat = rs.getString( "Reading" );
          firstDate = rs.getString( "PerfectFirstDateEssay" );
          entertainmentLocation = rs.getString("EntertainmentLocation");
          phyActivity = rs.getString("PhysicalActivity");
          idealRelationship = rs.getString( "IdealRelationshipEssay" );
          learnFromThePast = rs.getString( "LearnFromThePastEssay" );

      }

      s.close();

     con.close();
   }
   catch (SQLException e)
   {
         out.println("<H2>ERROR: </H2>");
         out.println(e.getMessage());
   }
   catch (Exception e)
   {
         out.println("<H2>ERROR: </H2>");
         out.println(e.getMessage());
   }
%>

<div class="container"> 
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <FORM NAME='updateForm' METHOD='POST' ACTION='update.jsp'>
        <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <center><H2>User Details</H2></center>
              </div>              
        </div> <br/>
        <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src='<%= picture %>'>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h3><%= userName %></h3><br/>
              <%= maritalStatus %>&nbsp;<%= gender %> seeking <%= seekingGender %><BR>was born in <%= dobYear %><br>from <%= city %>, <%= state %>, <%= country %>
              <h5><b>About Me</b></h5></BR>
              <%= aboutMe1 %>
              </div><br/>
        </div> <br/>  

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h4><b><span style="{color: #962a2a}">About Me</span></b></h4>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <%= aboutMe2 %><a href="#aboutme">more</a>
            </div>
         </div>

         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h4><b><span style="{color: #962a2a}">Personal Info</span></b></h4>
            </div>
         </div>
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">Username</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= userName %> </div>
         </div> 
            <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">Gender</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= gender %> seeking <%= seekingGender %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">From</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= city %>, <%= state %>, <%= country %> </div>
         </div> 
          <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">Age</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= age %></div>
         </div> 

         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h4><b><span style="{color: #962a2a}">Basics</span></b></h4>
            </div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Hair</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= hairColor %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Eyes</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= eyes %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Height</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= height %>cm</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Weight</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= weight %>kg</div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Body Style</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= bodyType %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Activity Level</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= activity %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Smoking</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= smoking %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Drinking</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= drinking %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Marital Status</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= maritalStatus %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Children</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= hasChildren %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Zodiac Sign</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= zodiacSign %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Languages I speak</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= languages %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Ethnicity</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= ethnicity %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Drinking</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= drinking %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Religion</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= religion %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Grew up in</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= grewUpIn %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Education</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= education %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Education Emphasis</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= study %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Politics</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= politics %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Occupation</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= occupation %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Annual Income</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= income %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Rate appearance</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= appearanceImportance %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Rate intelligence</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= intelligenceImportance %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Relocate</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= relocate %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Occupation Description</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= occupationDescription %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Seeking</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= relationType %></div>
         </div>
          <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Rate intelligence</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= intelligenceImportance %></div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Relocate</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= relocate %></div>
         </div>
         <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Headline</div>
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= headline %></div>
         </div>

         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h4><b><span style="{color: #962a2a}">Personality</span></b></h4>
            </div>
         </div>
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">My personality traits</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= personalityTrait %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">My favorite activities</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= leisure %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">About the one I'm looking for</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= aboutMatch %> </div>
         </div> 

         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h4><b><span style="{color: #962a2a}">Interests</span></b></h4>
            </div>
         </div>
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">My favorite cuisines</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= cuisineTypes %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">My favorite music</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= musicTypes %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">I like to read</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= aboutMatch %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">My idea of the perfect first date</div>
               <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"><%= firstDate %> </div>
         </div> 

         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <h4><b><span style="{color: #962a2a}">Leisure and Physical Activities</span></b></h4>
            </div>
         </div>
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">I like going out to</div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= cuientertainmentLocationsineTypes %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">My favorite physical activities</div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= phyActivity %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">My perception of an ideal relationship</div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= idealRelationship %> </div>
         </div> 
         <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">What I've learned from my past relationships</div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><%= learnFromThePast %> </div>
         </div> 
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top:7px;">
            <CENTER>
              <a href="javascript:window.close();" class="stdSmall"><img src="images/btn_close.gif" border="0" align="right"></a></td>
            </CENTER>
         </div> 
            </div> <br/>
               </form>
            </div>
         </div>
      </div>


<div class="footer-outer">
   <div class="container">
      <div class="footer-container">
         <h3> CSE Project</h3>
      <div>
   </div>
</div>

</body>
</html>