<html>
<head>
	<title>CSE220 Final Project</title><META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=windows-1252">
	<script language="JavaScript" src="javascript/matchnet.js"></script>
	<script language="JavaScript" src="javascript/region3.js"></script>
	<script language="JavaScript" src="im/im.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/css/as.css">
	<link rel="stylesheet" type="text/css" href="lib/css/common.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body >
<%
   String userName = request.getParameter( "UserName" );
   String password = request.getParameter( "Password" );
   String dobMonth = request.getParameter( "BirthDate_month" );
   String dobDay = request.getParameter( "BirthDate_day" );
   String dobYear = request.getParameter( "BirthDate_year" );
   String email = request.getParameter( "Email" );
   String gender = request.getParameter( "GenderID" );
   String seekingGender = request.getParameter( "SeekingGenderID" );
   String country = request.getParameter( "CountryRegionID" );
   String state = request.getParameter( "State" );
   String city = request.getParameter( "City" );
   String zip = request.getParameter( "PostalCode" );
   String aboutMe1 = request.getParameter( "AboutMe1" );
   String picturePath = request.getParameter( "TFileID" );
   String height = request.getParameter( "Height" );
   String weight = request.getParameter( "Weight" );
   String study = request.getParameter( "StudiesEmphasis" );
   String relocate = request.getParameter( "RelocateFlag" );
   String headline = request.getParameter( "Headline" );
   String occupation = request.getParameter( "IndustryType" );
   String occupationDescription = request.getParameter( "OccupationDescription" );
   String grewUpIn = request.getParameter( "GrewUpIn" );
   String zodiacSign = request.getParameter( "Zodiac" );

   String[]  languageArray = request.getParameterValues("LanguageMask");
   String languages = "";

   for (int i=0; i < languageArray.length; i++)
      languages += languageArray[i] + ' ';

   String[]  relationshipArray = request.getParameterValues("RelationshipMask");
   String relationType = "";

   for (int i=0; i < relationshipArray.length; i++)
      relationType += relationshipArray[i] + ", ";

   String maritalStatus = request.getParameter( "MaritalStatus" );
   String hairColor = request.getParameter( "HairColor" );
   String income = request.getParameter( "IncomeLevel" );
   String education = request.getParameter( "EducationLevel" );
   String bodyType = request.getParameter( "BodyType" );
   String appearanceImportance = request.getParameter( "AppearanceImportance" );
   String religion = request.getParameter( "Religion" );
   String eyes = request.getParameter( "EyeColor" );
   String ethnicity = request.getParameter( "Ethnicity" );
   String politics = request.getParameter( "PoliticalOrientation" );
   String intelligenceImportance = request.getParameter( "IntelligenceImportance" );
   String smoking = request.getParameter( "SmokingHabits" );
   String activity = request.getParameter( "ActivityLevel" );
   String hasChildren = request.getParameter( "Custody" );
   String drinking = request.getParameter( "DrinkingHabits" );
   String wantsChildren = request.getParameter( "MoreChildrenFlag" );
   String aboutMe2 = request.getParameter( "AboutMe" );

%>
<div class="container"> 
            <div class="row">
            	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            	 <div class="row">
              		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                		<center><H4>You have entered</H4></center>
              		</div>              
        		</div> <br/>
        		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">User Name</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= userName %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Password</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= password %></div>
         		</div>
				<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Date of Birth</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= dobMonth %>/<%= dobDay %>/<%= dobYear %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Email</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= email %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Gender</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= gender %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Seeking</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= seekingGender %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Country</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= country %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">State</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= state %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">City</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= city %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Zip</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= zip %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">About Me</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= aboutMe1 %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Upload Picture</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= picturePath %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Height</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= height %>cm</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Weight</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= weight %>gms</div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Emphasis Of Studies</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= study %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Relocate for the right person</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= relocate %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Profile Headline</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= headline %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Occupation</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= occupation %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Occupation Description</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= occupationDescription %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Area I Grew Up In</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= grewUpIn %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Zodiac Sign</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= zodiacSign %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Languages I speak</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= languages %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">I am seeking</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= relationType %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Marital Status</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= maritalStatus %></div>
         		</div>
    			<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Hair Color</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= hairColor %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Annual Income</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= income %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Education Level</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= education %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Body Build</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= bodyType %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">How important is appearance</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= appearanceImportance %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Religion</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= religion %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Eye Color</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= eyes %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Ethnicity</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= ethnicity %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Political View</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= politics %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Intelligence</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= intelligenceImportance %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Smoking Habits</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= smoking %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Activity Level</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= activity %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Children</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= hasChildren %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Drinking Habits</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= drinking %></div>
         		</div>
         		<div class="row">
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Want Children</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= wantsChildren %></div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">Personality</div>
               		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><%= aboutMe2 %></div>
         		</div>
         		<br/>
         		 <div class="row">
              		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                		<td class="message" >Saved Step 2</td>
              		</div>              
        		</div> <br/>

		<a name="Personality"></a>
		<form name="step3form" method="post" action="register_05.jsp" onSubmit="return validateFormstep3form()">
			 	<div class="row">
              		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Edit your profile</h3>
						<center>
							Check all boxes below that apply to you. Don't forget to save your information by clicking on the 'Save' button at the bottom of the page
						</center>
					</div>
				</div>
				<br/>
				<div class="row">
              		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                		<b>My personality traits</b>
              		</div>              
        		</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<input type="checkbox" name="PersonalityTrait" value="Adventurous/Wild/Spontaneous" > Adventurous/Wild/Spontaneous<br>
						<input type="checkbox" name="PersonalityTrait" value="Argumentative" > Argumentative<br>
						<input type="checkbox" name="PersonalityTrait" value="Artistic" > Artistic<br>
						<input type="checkbox" name="PersonalityTrait" value="Compulsive" > Compulsive<br>
						<input type="checkbox" name="PersonalityTrait" value="Conservative/Clean Cut" > Conservative/Clean Cut<br>
						<input type="checkbox" name="PersonalityTrait" value="Earthy" > Earthy<br>
						<input type="checkbox" name="PersonalityTrait" value="Easygoing/Flexible/Open-Minded" > Easygoing/Flexible/Open-Minded<br>
						<input type="checkbox" name="PersonalityTrait" value="Eccentric" > Eccentric<br>
						<input type="checkbox" name="PersonalityTrait" value="Flamboyant" > Flamboyant<br>
						<input type="checkbox" name="PersonalityTrait" value="Flirtatious/Playful" > Flirtatious/Playful<br>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<input type="checkbox" name="PersonalityTrait" value="Friendly/Kind" > Friendly/Kind<br>
						<input type="checkbox" name="PersonalityTrait" value="High Energy" > High Energy<br>
						<input type="checkbox" name="PersonalityTrait" value="High Maintenance" > High Maintenance<br>
						<input type="checkbox" name="PersonalityTrait" value="Humorous/Witty" > Humorous/Witty<br>
						<input type="checkbox" name="PersonalityTrait" value="Intellectual" > Intellectual<br>
						<input type="checkbox" name="PersonalityTrait" value="Low Maintenance" > Low Maintenance<br>
						<input type="checkbox" name="PersonalityTrait" value="Sensitive/Nurturing/Loving" > Sensitive/Nurturing/Loving<br>
						<input type="checkbox" name="PersonalityTrait" value="Outgoing" > Outgoing<br>
						<input type="checkbox" name="PersonalityTrait" value="Practical" > Practical<br>
						<input type="checkbox" name="PersonalityTrait" value="Procrastinator" > Procrastinator<br>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<input type="checkbox" name="PersonalityTrait" value="Quiet/Shy" > Quiet/Shy<br>
						<input type="checkbox" name="PersonalityTrait" value="Romantic" > Romantic<br>
						<input type="checkbox" name="PersonalityTrait" value="Self Confident" > Self Confident<br>
						<input type="checkbox" name="PersonalityTrait" value="Serious/Responsible" > Serious/Responsible<br>
						<input type="checkbox" name="PersonalityTrait" value="Simple" > Simple<br>
						<input type="checkbox" name="PersonalityTrait" value="Sophisticated/Worldly" > Sophisticated/Worldly<br>
						<input type="checkbox" name="PersonalityTrait" value="Spiritual" > Spiritual<br>
						<input type="checkbox" name="PersonalityTrait" value="Stubborn" > Stubborn<br>
						<input type="checkbox" name="PersonalityTrait" value="Talkative" > Talkative<br>
						<input type="checkbox" name="PersonalityTrait" value="Unconventional/Free-Spirited" > Unconventional/Free-Spirited<br>
					</div>
				</div>
		
				<br/>
				<div class="row">
              		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                		<b>My favourite activite</b>
              		</div>              
        		</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">				
								<input type="checkbox" name="LeisureActivity" value="Antiquing" > Antiquing<br>
								<input type="checkbox" name="LeisureActivity" value="Board Games/Backgammon/Chess" > Board Games/Backgammon/Chess<br>
								<input type="checkbox" name="LeisureActivity" value="Camping" > Camping<br>
								<input type="checkbox" name="LeisureActivity" value="Card Games/Bridge/Canasta" > Card Games/Bridge/Canasta<br>
								<input type="checkbox" name="LeisureActivity" value="Collecting" > Collecting<br>
								<input type="checkbox" name="LeisureActivity" value="Cooking/Barbecuing" > Cooking/Barbecuing<br>
								<input type="checkbox" name="LeisureActivity" value="Dining Out" > Dining Out<br>
								<input type="checkbox" name="LeisureActivity" value="Entertaining" > Entertaining<br>
								<input type="checkbox" name="LeisureActivity" value="Gambling" > Gambling<br>
								<input type="checkbox" name="LeisureActivity" value="Gardening" > Gardening<br>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">	
								<input type="checkbox" name="LeisureActivity" value="Hanging Out with Friends" > Hanging Out with Friends<br>
								<input type="checkbox" name="LeisureActivity" value="Home Improvement/Decorating" > Home Improvement/Decorating<br>
								<input type="checkbox" name="LeisureActivity" value="Intimate Conversations" > Intimate Conversations<br>
								<input type="checkbox" name="LeisureActivity" value="Investing" > Investing<br>
								<input type="checkbox" name="LeisureActivity" value="Listening to/Playing Music" > Listening to/Playing Music<br>
								<input type="checkbox" name="LeisureActivity" value="Motorcycling" > Motorcycling<br>
								<input type="checkbox" name="LeisureActivity" value="Painting/Drawing" > Painting/Drawing<br>
								<input type="checkbox" name="LeisureActivity" value="Partying" > Partying<br>
								<input type="checkbox" name="LeisureActivity" value="People Watching" > People Watching<br>
								<input type="checkbox" name="LeisureActivity" value="Photography" > Photography<br>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<input type="checkbox" name="LeisureActivity" value="Pool/Billiards/Darts" > Pool/Billiards/Darts<br>
								<input type="checkbox" name="LeisureActivity" value="Reading/Writing" > Reading/Writing<br>
								<input type="checkbox" name="LeisureActivity" value="Sewing/Crafts" > Sewing/Crafts<br>
								<input type="checkbox" name="LeisureActivity" value="Shopping" > Shopping<br>
								<input type="checkbox" name="LeisureActivity" value="Surfing the Web/Chatting Online" > Surfing the Web/Chatting Online<br>
								<input type="checkbox" name="LeisureActivity" value="Taking Long Walks" > Taking Long Walks<br>
								<input type="checkbox" name="LeisureActivity" value="Traveling/Weekend Trips/Adventure Travel" > Traveling/Weekend Trips/Adventure Travel<br>
								<input type="checkbox" name="LeisureActivity" value="Video Games/Online Games" > Video Games/Online Games<br>
								<input type="checkbox" name="LeisureActivity" value="Movies/TV" > Movies/TV<br>
								<input type="checkbox" name="LeisureActivity" value="Wine Tasting" > Wine Tasting<br>
					</div><br/>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top:20px">	
							<span colspan=3 class="stdBold">About the one I'm looking for...</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"  style="margin-top:20px">	
							<textarea name="PerfectMatchEssay" rows=4 cols=60 maxlength=2000></textarea>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="margin-top:20px">	
							<center>
							<input type="submit" name="Go" value="Save" class="btn btn-primary">
							</center>
						</div>
					</div>
		
   <input type="hidden" name="UserName" value="<%= userName %>" >
   <input type="hidden" name="Password" value="<%= password %>" >
   <input type="hidden" name="BirthDate_month" value="<%= dobMonth %>" >
   <input type="hidden" name="BirthDate_day" value="<%= dobDay %>" >
   <input type="hidden" name="BirthDate_year" value="<%= dobYear %>" >
   <input type="hidden" name="Email" value="<%= email %>" >
   <input type="hidden" name="GenderID" value="<%= gender %>" >
   <input type="hidden" name="SeekingGenderID" value="<%= seekingGender %>" >
   <input type="hidden" name="CountryRegionID" value="<%= country %>" >
   <input type="hidden" name="State" value="<%= state %>" >
   <input type="hidden" name="City" value="<%= city %>" >
   <input type="hidden" name="PostalCode" value="<%= zip %>" >
   <input type="hidden" name="AboutMe1" value="<%= aboutMe1 %>" >
   <input type="hidden" name="TFileID" value="<%= picturePath %>" >
   <input type="hidden" name="Height" value="<%= height %>" >
   <input type="hidden" name="Weight" value="<%= weight %>" >
   <input type="hidden" name="StudiesEmphasis" value="<%= study %>" >
   <input type="hidden" name="RelocateFlag" value="<%= relocate %>" >
   <input type="hidden" name="Headline" value="<%= headline %>" >
   <input type="hidden" name="IndustryType" value="<%= occupation %>" >
   <input type="hidden" name="OccupationDescription" value="<%= occupationDescription %>" >
   <input type="hidden" name="GrewUpIn" value="<%= grewUpIn %>" >
   <input type="hidden" name="Zodiac" value="<%= zodiacSign %>" >
   <input type="hidden" name="Languages" value="<%= languages %>" >
   <input type="hidden" name="RelationshipType" value="<%= relationType %>" >
   <input type="hidden" name="MaritalStatus" value="<%= maritalStatus %>" >
   <input type="hidden" name="HairColor" value="<%= hairColor %>" >
   <input type="hidden" name="IncomeLevel" value="<%= income %>" >
   <input type="hidden" name="EducationLevel" value="<%= education %>" >
   <input type="hidden" name="BodyType" value="<%= bodyType %>" >
   <input type="hidden" name="AppearanceImportance" value="<%= appearanceImportance %>" >
   <input type="hidden" name="Religion" value="<%= religion %>" >
   <input type="hidden" name="EyeColor" value="<%= eyes %>" >
   <input type="hidden" name="Ethnicity" value="<%= ethnicity %>" >
   <input type="hidden" name="PoliticalOrientation" value="<%= politics %>" >
   <input type="hidden" name="IntelligenceImportance" value="<%= intelligenceImportance %>" >
   <input type="hidden" name="SmokingHabits" value="<%= smoking %>" >
   <input type="hidden" name="ActivityLevel" value="<%= activity %>" >
   <input type="hidden" name="Custody" value="<%= hasChildren %>" >
   <input type="hidden" name="DrinkingHabits" value="<%= drinking %>" >
   <input type="hidden" name="MoreChildrenFlag" value="<%= wantsChildren %>" >
   <input type="hidden" name="AboutMe2" value="<%= aboutMe2 %>" >

		</form>
				</div>
			</div>
		</div>

</div>
<div class="footer-outer">
	<div class="container">
		<div class="footer-container">
			<h3> CSE Project</h3>
		<div>
	</div>
</div>

<script language=JavaScript>
	var blnAbortValidation = false;
	
	function validateFormstep2() {
		if (blnAbortValidation == true) {
			blnAbortValidation = false;
			return true;
		}
		
	var vstep2selHeight = document.step2.Height;
	var vstep2selWeight = document.step2.Weight;
	var vstep2txtStudiesEmphasis = document.step2.StudiesEmphasis;
	var vstep2txtOccupationDescription = document.step2.OccupationDescription;
	var vstep2radRelocateFlag = document.step2.RelocateFlag;
	var vstep2txtHeadline = document.step2.Headline;
	var vstep2selIndustryType = document.step2.IndustryType;
	var vstep2txtGrewUpIn = document.step2.GrewUpIn;
	var vstep2selZodiac = document.step2.Zodiac;
	var vstep2chkLanguageMask = document.step2.LanguageMask;
	var vstep2chkRelationshipMask = document.step2.RelationshipMask;
	var vstep2selMaritalStatus = document.step2.MaritalStatus;
	var vstep2selHairColor = document.step2.HairColor;
	var vstep2selIncomeLevel = document.step2.IncomeLevel;
	var vstep2selEducationLevel = document.step2.EducationLevel;
	var vstep2selBodyType = document.step2.BodyType;
	var vstep2selAppearanceImportance = document.step2.AppearanceImportance;
	var vstep2selReligion = document.step2.Religion;
	var vstep2selEyeColor = document.step2.EyeColor;
	var vstep2selEthnicity = document.step2.Ethnicity;
	var vstep2selPoliticalOrientation = document.step2.PoliticalOrientation;
	var vstep2selIntelligenceImportance = document.step2.IntelligenceImportance;
	var vstep2selSmokingHabits = document.step2.SmokingHabits;
	var vstep2selActivityLevel = document.step2.ActivityLevel;
	var vstep2selCustody = document.step2.Custody;
	var vstep2selDrinkingHabits = document.step2.DrinkingHabits;
	var vstep2radMoreChildrenFlag = document.step2.MoreChildrenFlag;
	var vstep2txaAboutMe = document.step2.AboutMe;
	if(IsEmpty(vstep2selHeight, 'select')) {
		ModalBox(false,"Height: is required");
		return false;
	}
	if(IsEmpty(vstep2selWeight, 'select')) {
		ModalBox(false,"Weight: is required");
		return false;
	}
	if(IsEmpty(vstep2txtStudiesEmphasis, 'text')) {
		ModalBox(false,"Emphasis Of Studies: is required");
		return false;
	}
	if ( InLengthRange(vstep2txtStudiesEmphasis.value, 1, 50) == false) {
		ModalBox(false,"Emphasis Of Studies: must be between 1 and 50 characters");
		vstep2txtStudiesEmphasis.focus();
		return false;
	}
	if(IsEmpty(vstep2txtOccupationDescription, 'text')) {
		ModalBox(false,"Occupation Description: is required");
		return false;
	}
	if ( InLengthRange(vstep2txtOccupationDescription.value, 1, 100) == false) {
		ModalBox(false,"Occupation Description: must be between 1 and 100 characters");
		vstep2txtOccupationDescription.focus();
		return false;
	}
	if(IsEmpty(vstep2radRelocateFlag, 'radio')) {
		ModalBox(false,"Relocate for the right person? is required");
		return false;
	}
	if(IsEmpty(vstep2txtHeadline, 'text')) {
		ModalBox(false,"Profile Headline: is required");
		return false;
	}
	if ( InLengthRange(vstep2txtHeadline.value, 4, 100) == false) {
		ModalBox(false,"Profile Headline: must be between 4 and 100 characters");
		vstep2txtHeadline.focus();
		return false;
	}
	if(IsEmpty(vstep2selIndustryType, 'select')) {
		ModalBox(false,"Occupation: is required");
		return false;
	}
	if(IsEmpty(vstep2txtGrewUpIn, 'text')) {
		ModalBox(false,"Area I Grew Up In: is required");
		return false;
	}
	if ( InLengthRange(vstep2txtGrewUpIn.value, 4, 50) == false) {
		ModalBox(false,"Area I Grew Up In: must be between 4 and 50 characters");
		vstep2txtGrewUpIn.focus();
		return false;
	}
	if(IsEmpty(vstep2selZodiac, 'select')) {
		ModalBox(false,"Zodiac Sign: is required");
		return false;
	}
	if(IsEmpty(vstep2chkLanguageMask, 'checkbox')) {
		ModalBox(false,"Languages I speak: is required");
		return false;
	}
	if(IsEmpty(vstep2chkRelationshipMask, 'checkbox')) {
		ModalBox(false,"I am seeking: is required");
		return false;
	}
	if(IsEmpty(vstep2selMaritalStatus, 'select')) {
		ModalBox(false,"Marital Status: is required");
		return false;
	}
	if(IsEmpty(vstep2selHairColor, 'select')) {
		ModalBox(false,"Hair Color: is required");
		return false;
	}
	if(IsEmpty(vstep2selIncomeLevel, 'select')) {
		ModalBox(false,"Annual Income: is required");
		return false;
	}
	if(IsEmpty(vstep2selEducationLevel, 'select')) {
		ModalBox(false,"Education Level: is required");
		return false;
	}
	if(IsEmpty(vstep2selBodyType, 'select')) {
		ModalBox(false,"Body Build: is required");
		return false;
	}
	if(IsEmpty(vstep2selAppearanceImportance, 'select')) {
		ModalBox(false,"How important is appearance: is required");
		return false;
	}
	if(IsEmpty(vstep2selReligion, 'select')) {
		ModalBox(false,"Religion: is required");
		return false;
	}
	if(IsEmpty(vstep2selEyeColor, 'select')) {
		ModalBox(false,"Eye Color: is required");
		return false;
	}
	if(IsEmpty(vstep2selEthnicity, 'select')) {
		ModalBox(false,"Ethnicity is required");
		return false;
	}
	if(IsEmpty(vstep2selPoliticalOrientation, 'select')) {
		ModalBox(false,"Political View: is required");
		return false;
	}
	if(IsEmpty(vstep2selIntelligenceImportance, 'select')) {
		ModalBox(false,"How important is intelligence: is required");
		return false;
	}
	if(IsEmpty(vstep2selSmokingHabits, 'select')) {
		ModalBox(false,"Smoking Habits: is required");
		return false;
	}
	if(IsEmpty(vstep2selActivityLevel, 'select')) {
		ModalBox(false,"Activity Level: is required");
		return false;
	}
	if(IsEmpty(vstep2selCustody, 'select')) {
		ModalBox(false,"Children: is required");
		return false;
	}
	if(IsEmpty(vstep2selDrinkingHabits, 'select')) {
		ModalBox(false,"Drinking Habits: is required");
		return false;
	}
	if(IsEmpty(vstep2radMoreChildrenFlag, 'radio')) {
		ModalBox(false,"Want (More) Children: is required");
		return false;
	}
	if(IsEmpty(vstep2txaAboutMe, 'textarea')) {
		ModalBox(false,"About Me is required");
		return false;
	}
	if ( InLengthRange(vstep2txaAboutMe.value, 10, 2000) == false) {
		ModalBox(false,"About Me must be between 10 and 2000 characters");
		vstep2txaAboutMe.focus();
		return false;
	}
}
</script>

<script language=JavaScript>
var blnAbortValidation = false;
function validateFormstep3form() {
 if (blnAbortValidation == true) {
  blnAbortValidation = false;
  return true;
 }
	var vstep3formchkPersonalityTrait = document.step3form.PersonalityTrait;
	var vstep3formchkLeisureActivity = document.step3form.LeisureActivity;
	var vstep3formtxaPerfectMatchEssay = document.step3form.PerfectMatchEssay;
	if(IsEmpty(vstep3formchkPersonalityTrait, 'checkbox')) {
		ModalBox(false,"My personality traits: is required");
		return false;
	}
	if(IsEmpty(vstep3formchkLeisureActivity, 'checkbox')) {
		ModalBox(false,"My favorite activities is required");
		return false;
	}
	if(IsEmpty(vstep3formtxaPerfectMatchEssay, 'textarea')) {
		ModalBox(false,"About the one I'm looking for... is required");
		return false;
	}
	if ( InLengthRange(vstep3formtxaPerfectMatchEssay.value, 10, 2000) == false) {
		ModalBox(false,"About the one I'm looking for... must be between 10 and 2000 characters");
		vstep3formtxaPerfectMatchEssay.focus();
		return false;
	}
}
</script>

</body>
</html>