html{
	margin:0;
	padding:0;
	position: relative;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background-image:url("images/brickwall.png");
	background-repeat:repeat; 
	margin-bottom: 150px;
}



/*==============footer=================*/

.footer-outer{
	margin-top: 30px;
	background-color: #111 !important;
	width: 100%;
	position: absolute;
	height: 80px;
	bottom:0;
}

.footer-container{
	color: #ddd;
	padding: 7px 0 7px 0;
}